.personal {
  backdrop-filter: blur(2px);
}

.personal-container {
  margin-top: 50px;
}

.whoami {
  width: auto;
  padding-top: 5px;
  padding-left: 50px;
  padding-right: 300px;
}

.whoami p {
  font-size: large;
}

.intro {
  width: 100%;
  padding-left: 0;
}

.sample-img1 {
  width: 250px;
  border-radius: 10px;
  height: 320px;
  border: 10px solid white;
}

.sample-img2 {
  width: 250px;
  height: 320px;
  border-radius: 10px;
  border: 10px solid white;
}

.sample-img3 {
  width: 250px;
  height: 320px;
  border-radius: 10px;
  border: 10px solid white;
}

.photo {
  padding-left: 300px;
  display: flex;
  gap: 20px;
}

.instagram-link {
  padding: 0 0 0 50px;
  align-self: center;
  flex-wrap: wrap;
  width: 100px;
  text-align: center;
}

.photo a:hover {
  color: rgb(175, 0, 99);
  font-size: 16px;
}

.photos-container h3 {
  text-decoration: none;
  text-align: start;
  padding-left: 300px;
}

.maps{
  display: flex;
  justify-content: space-between;
}

.usa-map-img{
  width: 45%;
  padding-left: 20px;
}

.eu-map-img{
  width: 45%;
  padding-right: 20px;
}

.travel-p{
  padding: 0 20px 0 20px;
}

.travel-header{
  display: flex;
  padding-left: 20px;
}

.travel{
  padding-top: 50px;
}

.letterboxd{
  text-decoration: underline;
  padding-bottom: 50px;
}

.movies-header{
  display: flex;
  padding-left: 20px;
}

.movies-in{
 padding-left: 20px;
}

@media (max-width: 430px) {
  h1.intro{
    display: flex;
    width: 350px;
    font-size: medium;
  }

  p.about-me{
    width: 350px;
    font-size: medium;
  }

  div.photo{
    padding-left: 10px;
    overflow: auto;
  }

  div.photos-container h3{
    padding-left: 20px;
  }

  div.maps{
    width: 500px;
    align-items: center;
    flex-direction: column;
    margin-left: -50px;
  }

  .instagram-link{
    padding: 0;
  }
  
  .whoami{
    padding-left: 20px;
    padding-right: 0;
  }
  
  .travel{
    padding-top: 0;
  }
}