*{
    animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.projects{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

div.projects h1 {
    display: flex;
    justify-content: center;
    text-decoration: underline;
    font-family: "Unbounded", sans-serif;
    font-weight: 200;
}

.rw-list {
  list-style: none;
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
}

.rw-list2 {
  list-style: none;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.project-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Spectral", serif;
}

.description{
  margin: 0;
  text-align: center;
}