.logos {
  width: 200px;
  background-image: url(../Animations/Gradient.json);
}

.icons-container {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  justify-content: center;
}

.skills-container {
  margin: 40px 0 40px 0;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
